$xl: 1200;
$lg: 992;
$md: 768;
$sm: 576;
$xsm: 375;

$white: #ffffff;
$black: #000000;
$red: #CE2127;
$gray-bg: #eeeeee;

// @mixin r($width) {
    
//     @media only screen and (max-width: $width + "px") {
//         @content;
//     }
// }