.btn {
  background-color: $red;
  color: $white;
  padding: 10px 30px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 30px;
  letter-spacing: 0.05rem;
  font-size: 16px;

  &--transparent {
    padding: 20px 40px;
    border: 2px solid $white;
    background-color: transparent;
  }

  &--footerform {
    padding: 10px 20px;
  }
  
  &--pmedium {
    padding: 20px 40px;
  }

  &--transparent-bred {
    padding: 20px 40px;
    border: 2px solid $red;
    background-color: transparent;
  }

  &--menu-mob-red {
    width: 226px;
    padding: 13px 28px;
    font-size: 14px;
    margin-bottom: 10px;
  }

  &--menu-mob {
    padding: 11px 28px;
    font-size: 14px;
    border: 2px solid $red;
    background-color: transparent;
    color: $black;
  }
}