<footer class="footer">
  <div class="footer__wrapper">
    <div class="container">
      <div class="footer__inner">
        <div class="footer__main">
          <div class="footer__logo">
            <img src="../../images/content/icons/logo.svg" alt="logo" />
          </div>
          <ul class="footer__list">
            <li class="footer__item">
              <a class="footer__link" href="#">акции и новости</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">сертификаты</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">развлечения</a>
              <ul class="footer__sub-list">
                <li class="footer__sub-item">
                  <a class="footer__sub-link" href="#">Арена</a>
                </li>
                <li class="footer__sub-item">
                  <a class="footer__sub-link" href="#">Куб</a>
                </li>
                <li class="footer__sub-item">
                  <a class="footer__sub-link" href="#">Аттракционы</a>
                </li>
                <li class="footer__sub-item">
                  <a class="footer__sub-link" href="#">PvP-соревнования</a>
                </li>
                <li class="footer__sub-item">
                  <a class="footer__sub-link" href="#">Билет в парк</a>
                </li>
              </ul>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Праздники</a>
              <ul class="footer__sub-list">
                <li class="footer__sub-item">
                  <a class="footer__sub-link" href="#">День рождения</a>
                </li>
                <li class="footer__sub-item">
                  <a class="footer__sub-link" href="#">детский день рождения</a>
                </li>
                <li class="footer__sub-item">
                  <a class="footer__sub-link" href="#">Корпоратив</a>
                </li>
                <li class="footer__sub-item">
                  <a class="footer__sub-link" href="#"
                    >Нестандартное мероприятие</a
                  >
                </li>
              </ul>
            </li>
            <li class="footer__item footer__item--last">
              <a class="footer__link" href="#">Контакты</a>
            </li>
          </ul>
        </div>
        <div class="footer__contact">
          <div class="footer__contact-inner">
            <div class="footer__contact-left">
              <div class="footer__tel">
                <h3 class="footer__contact-title">Телефон</h3>
                <a class="footer__tel-link" href="tel:+380672963030"> 
                  +38 (067) 296-30-30
                </a>
              </div>
              <div class="footer__social">
                <h3 class="footer__contact-title">Следуйте за нами</h3>
                <ul class="footer__social-list">
                  <li class="footer__social-item">
                    <a class="footer__social-link" href="#">
                      <img class="footer__social-icon" src="../../images/content/icons/socials/telegram.svg" alt="social" />
                    </a>
                  </li>
                  <li class="footer__social-item">
                    <a class="footer__social-link" href="#">
                      <img class="footer__social-icon" src="../../images/content/icons/socials/whatsapp.svg" alt="social" />
                    </a>
                  </li>
                  <li class="footer__social-item">
                    <a class="footer__social-link" href="#">
                      <img class="footer__social-icon" src="../../images/content/icons/socials/facebook.svg" alt="social" />
                    </a>
                  </li>
                  <li class="footer__social-item">
                    <a class="footer__social-link" href="#">
                      <img class="footer__social-icon" src="../../images/content/icons/socials/tiktok.svg" alt="social" />
                    </a>
                  </li>
                  <li class="footer__social-item">
                    <a class="footer__social-link" href="#">
                      <img class="footer__social-icon" src="../../images/content/icons/socials/youtube.svg" alt="social" />
                    </a>
                  </li>
                </ul>
              </div>
              <div class="footer__adress">
                <h3 class="footer__contact-title">Наш Адрес</h3>
                <a class="footer__adress-link" href="#">
                  Киев, ул. Вадима Гетьмана, 6, ТРЦ Cosmo Multimall, Блок A, 2-ой этаж
                </a>
                <div class="footer__adress-metro">
                  <span>Шулявська — 400м</span>
                </div>
              </div>
            </div>  
            <div class="footer__contact-right">
              <div class="footer__email">
                <h3 class="footer__contact-title">Почта</h3>
                <a class="footer__email-link" href="mailto:info@anviovr.com"> 
                  info@anviovr.com
                </a>
              </div>
              <form class="footer__form" action="#">
                <h3 class="footer__contact-title">Получайте первым информацию о наших акциях</h3>
                <input 
                class="footer__input"
                type="text" 
                name="email" 
                placeholder="Введите ваш E-mail адрес">
                <button class="btn  btn--footerform footer__btn">
                  подписаться
                </button>
              </form>
              <div class="footer__request">
                <h3 class="footer__contact-title">
                  оставьте заявку прямо сейчас!
                </h3>
                <div class="footer__request-btn">
                  <button class="btn btn--pmedium">купить билет</button>
                  <button class="btn btn--transparent-bred">заказать праздник</button>
                </div>
              </div>
            </div>
          </div>
          <div class="footer__map">
            <img src="../../images/content/footer-map.png" alt="map">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <div class="footer__wrapper-inner">
        <span class="footer__copyright"> © 2017-2022 ANVIO LLC </span>
        <ul class="footer__general">
          <li class="footer__general-item">
            <a class="footer__general-link" href="#">
              Политика конфиденциальности
            </a>
          </li>
          <li class="footer__general-item">
            <a class="footer__general-link" href="#">
              Политика использования файлов cookie
            </a>
          </li>
          <li class="footer__general-item">
            <a class="footer__general-link" href="#">
              Общие правила оказания услуг
            </a>
          </li>
        </ul>
        <span class="footer__creative"> ADVCREATIVE </span>
      </div>
    </div>
  </div>
</footer>
