
<div class="slider-news">
  <div class="slider-news__inner swiper">
    <ul class="slider-news__wrapper swiper-wrapper">
      <li class="slider-news__slide swiper-slide">
        @@include('news-card.html', {
          "number": "22",
          "mounth": "апрель",
          "year": "2022",
          "img": "<img src='./images/content/news/news1.jpg' alt='img'>",
          "title": "Мы выпустили новую игру",
          "text": "Хороший клуб, о после замены оборудования, были реальные автоматы, контроллеры на руках-ногах, и погружение было очень глубоким, теперь в руках джойстики, эффекта стрельбы почти нет, друзей в игре вечно дергает, перекашивает, ноги заплетаются.",
        })
      </li>
      <li class="slider-news__slide swiper-slide">
        @@include('news-card.html', {
          "number": "22",
          "mounth": "апрель",
          "year": "2022",
          "img": "",
          "title": "Мы выпустили новую игру",
          "text": "Хороший клуб, о после замены оборудования, были реальные автоматы, контроллеры на руках-ногах, и погружение было очень глубоким, теперь в руках джойстики, эффекта стрельбы почти нет, друзей в игре вечно дергает, перекашивает, ноги заплетаются.",
        })
      </li>
      <li class="slider-news__slide swiper-slide">
        @@include('news-card.html', {
          "number": "22",
          "mounth": "апрель",
          "year": "2022",
          "img": "<img src='./images/content/news/news2.jpg' alt='img'>",
          "title": "Мы выпустили новую игру",
          "text": "Хороший клуб, о после замены оборудования, были реальные автоматы, контроллеры на руках-ногах, и погружение было очень глубоким, теперь в руках джойстики, эффекта стрельбы почти нет, друзей в игре вечно дергает, перекашивает, ноги заплетаются.",
        })
      </li>
      <li class="slider-news__slide swiper-slide">
        @@include('news-card.html', {
          "number": "22",
          "mounth": "апрель",
          "year": "2022",
          "img": "<img src='./images/content/news/news1.jpg' alt='img'>",
          "title": "Мы выпустили новую игру",
          "text": "Хороший клуб, о после замены оборудования, были реальные автоматы, контроллеры на руках-ногах, и погружение было очень глубоким, теперь в руках джойстики, эффекта стрельбы почти нет, друзей в игре вечно дергает, перекашивает, ноги заплетаются.",
        })
    </li>
    <li class="slider-news__slide swiper-slide">
      @@include('news-card.html', {
        "number": "22",
        "mounth": "апрель",
        "year": "2022",
        "img": "<img src='./images/content/news/news1.jpg' alt='img'>",
        "title": "Мы выпустили новую игру",
        "text": "Хороший клуб, о после замены оборудования, были реальные автоматы, контроллеры на руках-ногах, и погружение было очень глубоким, теперь в руках джойстики, эффекта стрельбы почти нет, друзей в игре вечно дергает, перекашивает, ноги заплетаются.",
      })
    </li>
    <li class="slider-news__slide swiper-slide">
      @@include('news-card.html', {
        "number": "22",
        "mounth": "апрель",
        "year": "2022",
        "img": "<img src='./images/content/news/news1.jpg' alt='img'>",
        "title": "Мы выпустили новую игру",
        "text": "Хороший клуб, о после замены оборудования, были реальные автоматы, контроллеры на руках-ногах, и погружение было очень глубоким, теперь в руках джойстики, эффекта стрельбы почти нет, друзей в игре вечно дергает, перекашивает, ноги заплетаются.",
      })
    </li>
    </ul>
    <!-- If we need pagination -->
    <!-- <div class="swiper-pagination"></div> -->
  
    <!-- If we need navigation buttons  -->
    <div class="swiper-button-prev">
    </div>
    <div class="swiper-button-next">
    </div>
  
    <!-- If we need scrollbar -->
    <!-- <div class="swiper-scrollbar"></div> -->
  </div>
</div>
