
<div class="slider-emotions">
  <div class="slider-emotions__inner swiper">
    <ul class="slider-emotions__wrapper swiper-wrapper">
      <li class="slider-emotions__slide swiper-slide">
          @@include('../components/emotions-card.html', {
            "img-first": "<img src='./images/content/emotions/emotion1.jpg' alt=''>",
            "img-second": "<img src='./images/content/emotions/emotion2.jpg' alt=''>",
            "img-third": "<img src='./images/content/emotions/emotion3.jpg' alt=''>",
          })
      </li>
      <li class="slider-emotions__slide swiper-slide">
        @@include('../components/emotions-card.html', {
          "img-first": "<img src='./images/content/emotions/emotion1.jpg' alt=''>",
          "img-second": "<img src='./images/content/emotions/emotion2.jpg' alt=''>",
          "img-third": "<img src='./images/content/emotions/emotion3.jpg' alt=''>",
        })
      </li>
      <li class="slider-emotions__slide swiper-slide">
        @@include('../components/emotions-card.html', {
          "img-first": "<img src='./images/content/emotions/emotion1.jpg' alt=''>",
          "img-second": "<img src='./images/content/emotions/emotion2.jpg' alt=''>",
          "img-third": "<img src='./images/content/emotions/emotion3.jpg' alt=''>",
        })
      </li>
      <li class="slider-emotions__slide swiper-slide">
        @@include('../components/emotions-card.html', {
          "img-first": "<img src='./images/content/emotions/emotion1.jpg' alt=''>",
          "img-second": "<img src='./images/content/emotions/emotion2.jpg' alt=''>",
          "img-third": "<img src='./images/content/emotions/emotion3.jpg' alt=''>",
        })
      </li>
      <li class="slider-emotions__slide swiper-slide">
        @@include('../components/emotions-card.html', {
          "img-first": "<img src='./images/content/emotions/emotion1.jpg' alt=''>",
          "img-second": "<img src='./images/content/emotions/emotion2.jpg' alt=''>",
          "img-third": "<img src='./images/content/emotions/emotion3.jpg' alt=''>",
        })
      </li>
      <li class="slider-emotions__slide swiper-slide">
        @@include('../components/emotions-card.html', {
          "img-first": "<img src='./images/content/emotions/emotion1.jpg' alt=''>",
          "img-second": "<img src='./images/content/emotions/emotion2.jpg' alt=''>",
          "img-third": "<img src='./images/content/emotions/emotion3.jpg' alt=''>",
        })
      </li>
    </ul>
    <!-- If we need pagination -->
    <!-- <div class="swiper-pagination"></div> -->
  
    <!-- If we need navigation buttons  -->
    <div class="swiper-button-prev">
    </div>
    <div class="swiper-button-next">
    </div>
  
    <!-- If we need scrollbar -->
    <!-- <div class="swiper-scrollbar"></div> -->
  </div>
</div>
